body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  
.container {
    background: linear-gradient(to bottom, #000000, #001c08);
    width: 100vw;
    min-height: 100vh;
    height: 100vh;
    padding: env(safe-area-inset-top) 20px env(safe-area-inset-bottom) 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    color: #ffffff;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.chat-wrapper::-webkit-scrollbar {
    display: none;
}

.chat-wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;
}    