@keyframes bounce-around {
    0% {
        top: 0;
        left: 0;
    }
    33% {
        top: 10%;
        left: calc(100% - 80px);
    }
    67% {
        top: calc(100% - 80px);
        left: 60%;
    }
    100% {
        top: 0;
        left: 0;
    }
}

.doggy-sprite {
    position: absolute;
    width: 120px;
    height: 120px;
    animation: bounce-around 10s linear infinite;
    pointer-events: none;
    z-index: 0;
}
  